# Virtualenv
venv/
.env
.venv/
.python-version

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Local DB
*.sqlite3
db.sqlite3

# Django static/media output
staticfiles/
media/

# Python packaging / build
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Test / coverage
.coverage
.coverage.*
coverage.xml
htmlcov/

# IDE / OS junk
.DS_Store
Thumbs.db
.idea/
.vscode/
.fleet/
*.swp
*.swo

# Env files
*.env
