PassengerAppRoot "/home/bilimsto/bookstore"
PassengerBaseURI "/"
PassengerPython "/home/bilimsto/virtualenv/bookstore/3.10/bin/python3.10"
PassengerStartupFile passenger_wsgi.py

Alias /static /home/bilimsto/bookstore/staticfiles/
<Directory /home/bilimsto/bookstore/staticfiles/>
    Require all granted
</Directory>

Alias /media /home/bilimsto/bookstore/media/
<Directory /home/bilimsto/bookstore/media/>
    Require all granted
</Directory>

# For PythonAnywhere test host, update paths if needed:
# Alias /static /home/akramjonovich2/bookstore/staticfiles/
# <Directory /home/akramjonovich2/bookstore/staticfiles/>
#     Require all granted
# </Directory>
# Alias /media /home/akramjonovich2/bookstore/media/
# <Directory /home/akramjonovich2/bookstore/media/>
#     Require all granted
# </Directory>

# --- Browser caching (static/media) ---
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 7 days"

  ExpiresByType image/jpg "access plus 30 days"
  ExpiresByType image/jpeg "access plus 30 days"
  ExpiresByType image/png "access plus 30 days"
  ExpiresByType image/webp "access plus 30 days"

  ExpiresByType text/css "access plus 7 days"
  ExpiresByType application/javascript "access plus 7 days"
</IfModule>

# --- GZIP compression (HTML/CSS/JS) ---
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/css application/javascript
</IfModule>
